body {
    background: black;
    color: white;
    font-family: 'Open Sans';
    text-align: center;
}

#olympic-img img {
    background: white;
    width: 200px;
    padding: 4px;
}

.medals img {
    width: 100px;
    padding: 5px 5px;
}

figure {
    display: inline-block;
}

#athlete-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #202020;
}

.active {
    background-color: #60b000;
}

#results {
    margin: auto;
    width: 40%;
    text-align: left;
}

#results td:not([id]) {
    width: 40%;
    color: green;
}
