body {
    background: black;
    color: white;
    font-family: 'Open Sans';
    text-align: center;
}

.medals img {
    width: 150px;
    padding: 10px 10px;
}

figure {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #202020;
}

.active {
    background-color: #60b000;
}

svg text {
    fill: white;
    font-size: 14px;
}

.time_series {
    fill: none;
    stroke-width: 2px;
}

#average {
    fill: white;
}

#country {
    fill: green;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    font-family: 'Noto Sans';
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    text-align: center;
}

#country-flag {
    width: 30px;
}
