body {
    background: black;
    color: white;
    font-family: 'Open Sans';
    text-align: center;
}
#olympic-img {
    background: rgba(255, 255, 255, 0.6);
}
.button {
    background: greenyellow;
    border: none;
    margin: 4px 2px;
    padding: 10px 20px;
}
.medals img {
    width: 150px;
    padding: 10px 10px;
}
figure {
    display: inline-block;
}
